body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#questionImage, #questionTitle {
    text-align: center;
    background-color: white; 
    padding: 5px;
}

#questionImage img {
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 4px gray);
}


#choiceForm {
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    padding: 50px 0;
    text-align: left;
    width: 50%;
}

label {
    display: block;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #007FFF;
    filter: drop-shadow(1px 1px 2px gray);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    margin: 5px 10px;
}

#submitButton {
    display: inline-block;
    background-color: #005bb7;
    color: #fff;
    border: none;
    margin: 0 20px 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitButton:hover {
    background-color: rgb(0, 70, 128);
}

#answerMessage {
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
}

