body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#questionTitle {
    text-align: center;
    background-color: #ff6a00;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    padding: 5px;
}

#questionImage img {
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 4px gray);
}


#choiceForm {
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    padding: 50px 0;
    text-align: left;
    width: 50%;
}

label {
    display: block;
    margin: 10px 0;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: #007FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    line-height: 1.5;
}

input[type="radio"] {
    margin: 5px 10px;
}

#submitButton {
    display: inline-block;
    background-color: #007FFF;
    border: none;
    margin: 0 20px 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitButton:hover {
    background-color: rgb(0, 70, 128);
}

#answerMessage {
    display: block;
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: #ff6a00;
    margin: 0 20px 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
}

