<h2><strong>@ViewBag.Title</strong> added successfully.</h2>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
    <a asp-action="Create" asp-controller="Question" class="btn btn-secondary">Add Another Question</a>
</div>
