@model SharedModels.Question.QuestionModelWithAnswer
@{
    ViewData["Title"] = "Create New Question";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Create.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Question/Create.js"></script>
}


<h3><strong>Create New Question</strong></h3>

@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td colspan="2">Title: @Html.TextBoxFor(m => m.Title,  new { name = "Title" })</td>
        </tr>
        <tr>
            <td>Answer Options:</td>
        </tr>
        <tr>
            <td>
                <div id="answerOptionsContainer">                        
                    
                </div>
                <button type="button" id="addOption">Add Answer Option</button>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <label>Question image: </label>
                <input type="file" name="image">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit Question" />
            </td>
            <td>
                <a asp-controller="Lobby" asp-action="Room" asp-route-id="@ViewBag.RoomId" class="return-button btn btn-secondary">Return</a>
            </td>
        </tr>
    </table>
    <div id="submit-check"></div>
}
