@model SharedModels.Question.QuestionModelWithAnswer
@{
    ViewData["Title"] = "Create New Question";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Create.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Question/Create.js"></script>
}

<h3><strong>Create New Question</strong></h3>

@using (Html.BeginForm("Create", "Question", FormMethod.Post))
{
    <table>
        <tr>
            <td>Title: @Html.TextBoxFor(m => m.Question)</td>
        </tr>
        <tr>
            <td>Answer Options:</td>
        </tr>
        <tr>
            <td>
                <div id="answerOptionsContainer">                        
                    @* useless for Create, could be used for Update *@

                    @* @for (int i = 0; i < Model.AnswerOptions.Count; i++) 
                    {
                        <div class="answerOption">
                            <input style="display:inline-block" type="radio" name="CorrectAnswerIndex" value="@i" @(Model.CorrectAnswerIndex == i ? "checked" : "") />
                            <input style="display:inline-block" type="text" name="AnswerOptions[@i]" value="@Model.AnswerOptions[i]" />
                            <button style="display:inline-block" type="button" class="removeOption">Remove</button>
                        </div>
                    } *@
                </div>
                <button type="button" id="addOption">Add Answer Option</button>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Question" /></td>
        </tr>
    </table>
    <div id="submit-check"></div>
}
