@model MVC.Models.SolveViewModel
@{
    ViewData["Title"] = "Question Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Solve.css">
}

@section Scripts {
    <script src="~/js/Question/Solve.js"></script>
}

<div class="container" >
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id="questionTitle" class="text-center mt-4">
                    <h1>@Model.Question.Title</h1>
            </div>
        </div>
    </div>
            @if (Model.Question.ImageName != null)
            {
                <div id="questionImage" class="text-center mt-5">
                    <img src="~/img/@Model.Question.ImageName" alt="Question Image" class="img-fluid" />
                </div>
            }

<div id="form">
    @using (Html.BeginForm("Solve", "Question", FormMethod.Post))
    {
        <input type="hidden" name="questionName" value="@Model.QuestionName" />
        
        @foreach (var (idx, option) in Model.Question.AnswerOptions.WithIndex())
        {
            <label class="option">
                <input type="radio" name="selectedOption" value="@idx" /> @option
            </label>
            <br />
        }

        <button type="submit" id="submitButton">Submit</button>
        <div id="answerMessage"></div>
    }
</div>
