@model MVC.Models.SolveResultViewModel
@{
    ViewData["Title"] = "Question Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Solve.css">
}

<div id="questionTitle">
    <h1>@Model.Question.Title</h1>
</div>

@if (Model.Question.ImageName != null)
{
    <div id="questionImage">
        <img src="~/img/@Model.Question.ImageName" alt="Question Image" />
    </div>
}

<div>
    @foreach (var (idx, option) in Model.Question.AnswerOptions.WithIndex())
    {
        <div class="answer-option @((idx == Model.Question.CorrectAnswerIndex) ? "correct" : (idx == Model.SelectedOption) ? "selected" : "")">
            @option
        </div>
    }
</div>


<a asp-controller="Question" asp-action="Solve" class=" btn btn-primary">Next Random Question</a>
<a asp-controller="Lobby" asp-action="Room" asp-route-id="@Model.RoomId" class=" btn btn-primary">Room Lobby</a>
