@model SharedModels.Question.QuestionModel
@{
    ViewData["Title"] = "Question Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Solve.css">
}

@section Scripts {
    <script src="~/js/Question/Solve.js"></script>
}

<div id="questionTitle">
    <h1>@Model.Question</h1>
</div>

@if(Model.ImageName != null)
{
    <div id="questionImage">
        <img src="~/img/@Model.ImageName" alt="Question Image" />
    </div>
}

<div id="form">
    <form id="choiceForm">
        @foreach(var (idx, option) in Model.AnswerOptions.WithIndex())
        {
            <label class="option">
                <input type="radio" name="answer" value="@idx" /> @option
            </label>
            <br />
        }

        <button type="button" id="submitButton">Submit</button>
        <div id="answerMessage"></div>
    </form>
</div>

<script>
    function getRoomName() {
        return "@ViewData["Room"]";
    }

    function getQuestionName() {
        return "@ViewData["QuestionName"]";
    }
</script>
