@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        text-align: center;
        margin-top: 3rem;
    }

    .display-4 {
        font-size: 2.5 rem; /* Increased font size */
        font-weight: bold;
        color: #0077cc; /* Change heading color */
    }

    .lead {
        font-size: 1.5rem; /* Increased font size */
        color: #333;
        margin-top: 1rem; /* Added margin top */
    }
</style>

<div class="container">
    <h1 class="display-4">Welcome to Our Exam Preparation Web App</h1>
    <p class="lead">Get ready to excel in your exams with our powerful tools and resources.</p>
</div>
