<h2>Room <strong>"@ViewBag.RoomName"</strong></h2>
<h3>@ViewBag.ErrorMessage</h3>
<div>
    <a asp-controller="Question" asp-action="Solve" asp-route-id="@ViewBag.Room" class=" btn btn-primary">Solve random Question</a>
    <a asp-controller="Question" asp-action="Create" asp-route-id="@ViewBag.Room" class=" btn btn-primary">Create new Question</a>
</div>
