<div>
    <ul>
        <li><a asp-area="" asp-controller="Second" asp-action="Index">Get all</a></li>
        <li><a asp-area="" asp-controller="Second" asp-action="GetById">Get by ID</a></li>
        <li><a asp-area="" asp-controller="Second" asp-action="CreateNew">Create new</a></li>
        <li><a asp-area="" asp-controller="Second" asp-action="Delete">Delete</a></li>
        <li><a asp-area="" asp-controller="Second" asp-action="Update">Update</a></li>
    </ul>
</div>
