@{
    ViewData["Title"] = "Home Page";
}
@model API.Models.NewString


<partial name="_Navigation" />
<div>
    <h4>Update</h4>
    @if (TempData.ContainsKey("message"))
    {
        <div>
            @(TempData["message"] as string)
        </div>
    }
    @using (Html.BeginForm("Update", "Second"))
    {
        <table>
            <tr>
                <td>ID: </td>
                <td>@Html.TextBoxFor(m => m.id)</td>
            </tr>
            <tr>
                <td>Value: </td>
                <td>@Html.TextBoxFor(m => m.value)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    }
</div>
