@model API.Models.QuestionModel

<!DOCTYPE html>
<html>
<head>
    <title>Question Page</title>
    <link rel="stylesheet" href="~/css/Solve.Index.css">
</head>
<body>
    <div id="questionImage">
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" alt="Question Image" />
    </div>

    <div id="form">
        <form id="choiceForm">
            @for (int i = 1; i <= 4; i++)
            {
                <label class="option">
                    <input type="radio" name="answer" value="@i" /> Choice @i
                </label>
                <br />
            }

            <button type="button" id="submitButton">Submit</button>
            <div id="answerMessage"></div>
        </form>
    </div>

  

    <script>
        document.getElementById("submitButton").addEventListener("click", function () {
            
            var selectedAnswer = document.querySelector("input[name='answer']:checked").getAttribute("value");

            if (selectedAnswer !== null) {
                if (selectedAnswer == @(Model.CorrectAnswer)) {
                    document.getElementById("answerMessage").textContent = "You are Right!";
                } else {
                    document.getElementById("answerMessage").textContent = "WRONG!";
                }
            }
            document.getElementById("selected").textContent = "Right one is /* Replace with the correct answer value */";
        });
    </script>
</body>
</html>
