@using API.Models.Question
@model BaseQuestionModel

<!DOCTYPE html>
<html>
<head>
    <title>Question Page</title>
    <link rel="stylesheet" href="~/css/Solve.Index.css">
</head>
<body>
    <div id="questionTitle">
        <h1>@Model.Question</h1>
    </div>

    @if(Model.ImageName != null)
    {
        <div id="questionImage">
            <img src="~/img/@Model.ImageName" alt="Question Image" />
        </div>
    }

	@if(Model is CheckboxQuestionModel)
	{
		<partial name="Checkbox" />
	}
	else
	{
		throw new Exception("Question types non-exhaustive");
	}

    <script>
        document.getElementById("submitButton").addEventListener("click", function () {
            var selectedAnswer = document.querySelector("input[name='answer']:checked").getAttribute("value");

            if (selectedAnswer !== null) {
                $.ajax({
                    type: "POST",
                    url: "/api/SolveAPI/CheckAnswer",
                    data: JSON.stringify({ QuestionName: "@ViewData["QuestionName"]", Answer: getCurrentAnswer() }),
                    success: function (data) {
                        if(data === true) {
                            document.getElementById("answerMessage").textContent = "You are Right!";
                        } else {
                            document.getElementById("answerMessage").textContent = "WRONG!";
                        }
                        console.log(data);
                    }, // TODO error handling
                    contentType: "application/json",
                    dataType: "json"
                });
            }
        });
    </script>
</body>
</html>
