@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        text-align: center;
        margin-top: 5rem;
    }

    .display-4 {
        font-size: 2rem;
        font-weight: bold;
        color: #0077cc;
    }

    .lead {
        font-size: 1.5rem;
        color: #333;
        margin-top: 1rem;
    }

    .unique-text {
        font-family: 'Arial';
        color: #ff6600;
        font-size: 3rem;
    }
</style>

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-4">Welcome to Our Exam Preparation Web App <span class="unique-text">BrainBox</span></h1>
    <p class="lead">Get ready to excel in your exams with our powerful tools and resources.</p>
</div>
