@model TimeSpan

<!DOCTYPE html>
<html>
<head>
    <title>Timer Page</title>
    <a asp-controller="Question" asp-action="Timer">Start Timer</a>

</head>
<body>
    <h1>Timer</h1>
    <div id="timer">
        Time Remaining: @Model.TotalSeconds seconds
    </div>
</body>
</html>
