@using SharedModels.Question
@model List<RoomDTO>
@{
    ViewData["Title"] = "Available rooms";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Lobby/AllRooms.css" asp-append-version="true" />
}

@section Scripts {
    
}

<h2>Available rooms</h2>

<div>
    <div class="create">
        <a asp-area="" asp-controller="Lobby" asp-action="CreateRoom" class="btn btn-secondary create-button">Create new room</a>
    </div>
    
    <div class="join">
        <form asp-area="" asp-controller="Lobby" asp-action="JoinRoom" method="post" class="join-form">
            <input type="text" name="uniqueCode" placeholder="Enter code" class="code"/>
            <button type="submit" class="btn btn-primary join-button">Join</button>
        </form>
    </div>
    
    @if (TempData["message"] != null)
    {
        <p><b>@TempData["message"]</b></p>
    }

    <ul>
        @foreach (RoomDTO room in Model)
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Lobby" asp-action="Room" asp-route-roomId="@room.Id">@room.Name</a>
            </li>
        }
    </ul>
</div>
