<h2>Failed to add <strong>@ViewBag.RoomName</strong></h2>
<div>Error sending data to the API: @ViewBag.ErrorMessage</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
    <a asp-action="Create" asp-controller="Question" class="btn btn-secondary">Add Another Question</a>
</div>
