@model string
@{
    ViewData["Title"] = "Create New Room";
}

<h3 style="text-align:center"><strong>Create New Room</strong></h3>

@using (Html.BeginForm("CreateRoom", "Lobby", FormMethod.Post))
{
    <table style="margin: 15px 0;">
        <tr>
            <td>
                <label style="font-weight: 600">Room name: </label>
                <input name="roomName" >
            </td>
        </tr>
    </table>
    <input type="submit" value="Create" class="btn btn-primary" style="margin: 15px 0;"/>
}
