@using SharedModels.Question
@model List<RoomTransferModel>
@{
    ViewData["Title"] = "Available rooms";
}

@section Stylesheets {

}

@section Scripts {

}

<div>
    <ul>
        @foreach (RoomTransferModel room in Model)
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Lobby" asp-action="Room" asp-route-roomId="@room.Id">@room.Name</a>
            </li>
        }
    </ul>
</div>
