<h2><strong>@ViewBag.RoomName</strong> added successfully.</h2>

<div>
    <a asp-controller="Lobby" asp-action="Room" asp-route-id="@ViewBag.RoomId" class=" btn btn-primary">Room Lobby</a>
    <a asp-action="Create" asp-controller="Question" class="btn btn-secondary">Add Another Question</a>
</div>
